<div class="header-grid">
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
    <div>
        <a asp-controller="User" asp-action="CreateUser">Create User</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Login">Log In</a>
    </div>
</div>