body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    border:1px solid black;
    grid-column:1/4;
    grid-row:1;
}
.page-content{
    border:1px solid black;
    grid-column:2/4;
    grid-row:2/3;
}
.nav-menu{
    border:1px solid black;
    grid-column:1;
    grid-row:2/3;
}
.footer{
    border:1px solid black;
    grid-column:1/4;
    grid-row:4;
}
.page-wrapper{
    display:grid;
    grid-auto-rows: minmax(auto,auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.page-wrapper .users{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}
.header-grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);

}
.header-grid > div{
    border:1px solid black;
    justify-self: end;
}
.form-column{
    display:grid;
    grid-template-columns: 1fr;
    align-self: start;
    grid-gap: 5px;
}
