body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    grid-area: header;
}
.page-content{
    grid-area: main;
}
.nav-menu{
    grid-area: menu;
}
.footer{
    grid-area: footer;
}
.page-wrapper{
    display:grid;
    grid-template-areas:  'header header header header header header'
                          'menu main main main main main'
                          'menu footer footer footer footer footer';
}